page-home {
  font-family: "Microsoft JhengHei";
  text-align: center;

  .tb {
    background-image: url('../../assets/imgs/navbar2.png');
    background-repeat:no-repeat;
    background-size:100%;
  }

  .badge {
    margin-right: 5px;
  }
}
